<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Об авторе</title>
    <style>
    body {width: 800px; margin: 0 auto;}
    img {width: 300px; float: left; margin-right: 20px;}
    p {text-align: justify; padding-top: 10px}
    </style>
  </head>
  <body>
    <h1>Об авторе</h1>
    <img src="../../assets/kost_photo.jpg"></img><p>Меня зовут Константин. Я работаю инженером
      по тестированию. В свободное от работы время изучаю web-программирование, а также люблю пешие
      и вело прогулки, сноуборд, слэклайн, хорошие книги и свежесваренный ароматный кофе.</p>
      <p><a href="https://github.com/k-gavrilov">Мой аккаунт на GitHub</a></p>
  </body>
</html>
